#content{
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fcfbfb;
  }


header {
    background-color:#219EBC;
}
nav a:hover {
    background-color: #FFB703;
    color: black;
} 
nav a {
    text-align: center; 
    color: white;
}

.home-title{
    color: black;
}


h4 {
    color: black;
}


.book:hover {
    background-color: #219EBC;
    color: black;
} 

.book {
    background-color:#9BE1D5;
    color: black;
}



#hero-msg {
    text-align: center;
    
}

.home-grid{ 
    text-align: center; 
}


#background {
    height: 725px;
    background-color: #9BE1D5; 
}

.msg {
    background-color: #219EBC;
    color: white;

}



.join:hover {
    background-color: #219EBC;
    color: white;
} 

.join {
    background-color:#9BE1D5;
    color: black;
}



footer {
    background-color:#219EBC;
    color: white;
}

footer a {color: red;}
footer a:hover {color: orange;}



  * {
    border: 2px solid blue;
}