body #content{
    max-width: 500px;
    margin: 0 auto;
  }

nav a {text-align: center; 
}

#hero-msg {text-align: center; 
}

.home-grid{ text-align: center; 
}


  * {
    border: 2px solid blue;
}